<h1>Listing group_topics</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Topic</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_topics.each do |group_topic| %>
  <tr>
    <td><%= group_topic.group_id %></td>
    <td><%= group_topic.topic_id %></td>
    <td><%= group_topic.status %></td>
    <td><%= link_to 'Show', group_topic %></td>
    <td><%= link_to 'Edit', edit_group_topic_path(group_topic) %></td>
    <td><%= link_to 'Destroy', group_topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group topic', new_group_topic_path %>
