<section id="sidebar">
	
  <section id="links">
    <%= render 'links' %>
  </section>

</section>

<div class="login">
<h1>Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></p>
  
  <p><%= f.label :username %>
  <%= f.text_field :username%></p>

  <p>
  	<%= f.label :photo %>
  	<%= s3 image_tag(@user.photo.url(:small)) %>
  	<%= f.file_field :photo %>
  </p>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
  <%= f.password_field :password, :autocomplete => "off" %></p>

  <p><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Update" %></p>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
</div>
