<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @community_user.user_id %>
</p>

<p>
  <strong>Community:</strong>
  <%= @community_user.community_id %>
</p>

<%= link_to 'Edit', edit_community_user_path(@community_user) %> |
<%= link_to 'Back', community_users_path %>
