<% communities = Community.where(id: CommunityTopic.notJoinedCommunities(@topic.id,current_user.id)) %>
<% if communities != [] %>
  <table>
  <%= form_for(CommunityTopic.new, :remote => true) do |f| %>
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <tr>
    <td><div class="field">
	  <%= collection_select(:community_topic, :community_id, communities, :id, :name) %>
    </div></td>

    <div class="field">
      <%= f.hidden_field :topic_id, :value => @topic.id %>
    </div>

    <td><div class="actions">
	  <%= submit_tag t("topic.join") %>
    </div></td>
    </tr>
  <% end %>
  </table>
<% end %>
