<%= form_for(:community_topic, :html => {:method => :delete}) do |f| %>
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <div class="field">
	<%= collection_select(:community_topic, :community_id, Community.where(id: CommunityTopic.joinedCommunities(@topic.id,current_user.id)) , :id, :name) %>
  </div>

  <div class="field">
  	<%= hidden_field_tag("community_topic[topic_id]",@topic.id)%>
  </div>
  
  <div class="actions">
	<%= submit_tag("Leave this topic") %>
  </div>
<% end %>