<% @post = Post.new %>
<%= render 'post' %>
<% @posts.reverse.each do |post| %>
<article>
  <% user = User.find(post.user_id)%>
  <header>
    <span class="userimg"><%= s3 image_tag(user.photo.url(:small)) %></span>
    <span class="user"><b><%= user.username %></b></span>
    <span class="date"><%= post.created_at %></span>
    <span class="no"  >No:<%= post.id %></span>
  </header>
  <% user = User.find(post.user_id) %>
  <% if post.photo? %>
    <div class="image"><%= s3 image_tag(post.photo.url(:medium)) %></div>
  <% end %>  
  <div class="body"><%= auto_res post.body_html %></div>
</article>
<br />
<% end %>
<%= will_paginate @posts %>