<% @posts.reverse.each do |post| %>
<article class="topic_post_article">
  <header>
    <span class="userimg"><%= s3 image_tag(post.user.photo.url(:small)) %></span>
    <span class="user"><b><%= post.user.username %></b> in <%= link_to post.group.name, post.group %></span>
    <span class="date"><%= post.created_at %></span><br />
    <span class="no"  >No:<%= post.topic_post_id %></span>
  </header>
  <div class="body">
  	<% if post.photo? %>
      <div class="image"><a class="fancybox" href="<%= s3 post.photo.url(:original) %>"><%= s3 image_tag(post.photo.url(:medium)) %></a></div>
    <% end %>  
  	<%= auto_res post.body_html %>
  </div>
  <div class="comments">
    <a href="/posts?search=%3E%3E<%= post.topic_post_id %>&tid=<%= post.topic_id %>">Comment(<%= Comment.countRes(post.id) %>)</a>
  </div>
</article>
<br />
<% end %>
<%= will_paginate @posts %>