<section id="sidebar">
  <section id="search_post">
    <%= render 'search' %>
  </section>
  <hr class="block"/>
  
  <section id="links">
    <%= render 'links' %>
  </section><br />
  
  <section id="joined_groups">
    <%= render 'joined_groups' %>
  </section>
  


</section>

<section id="topics">
  <%= render "list_topics" %>
  <%= will_paginate @topics %>
</section>
