<p id="notice"><%= notice %></p>

<% groups = GroupTopic.joinedGroups(@topic.id,current_user.id) %>
<% unless groups.empty? %>
<section id="topic_new_post" class="post_article">
  <h1><%=@topic.subject%></h1>
  <% unless @topic.status %>
    <section id="join_topic">
      <%= render 'group_topic' %>
    </section>
  <% end %>
  <% @post = Post.new %>
  <%= render 'post' %>
  <div class="count_char">500</div>
</section>
<% end %>

<section id="post_list">
  <%= render 'topic_posts' %>
</section>