<p id="notice"><%= notice %></p>
<section id="join_topic">
  <%= render 'group_topic' %>
</section>

<section id="topic_posts">
  <header><h2> <%= @topic.subject %></h2></header>  
  <% @post = Post.new %>
  <%= render 'post' %>
  <% @posts.each do |post| %>
  <article>
  	<% user = User.find(post.user_id)%>
  	<header>
  		<span class="userimg"><%= image_tag user.photo.url(:small) %></span>
  		<span class="user"><b><%= user.username %></b></span>
  		<span class="date"><%= post.created_at %></span>
  		<span class="no"  >No:<%= post.id %></span>
    </header>
    <% user = User.find(post.user_id) %>
      <div id="body"><%= post.body %></div>
  </article>
  <br />
  <% end %>
  <%= will_paginate @posts %>
</section>
<%= link_to 'Back', topics_path %>
