<header><h2>Group Posts</h2></header>
<% @post = Post.new %>
<% if GroupUser.exist(current_user.id, @group.id) %>
  <%= render 'post' %>
<% end %>
<% @posts.each do |post| %>
<% topic = Topic.find(post.topic_id) %>
<% user = User.find(post.user_id) %>
<article class="article group_post_article">
  <header><h3><%= topic.subject %></h3></header>
  <div>
    <span class="userimg"><%= image_tag user.photo.url(:small) %></span>
    <span class="user"><b><%= user.username %></b></span>
    <span class="date"><%= post.created_at %></span>
    <span class="no"  >No:<%= post.id %></span>
  </div>

  <% if post.photo? %>
    <div class="image"><%= image_tag post.photo.url(:small) %></div>
  <% end %>  
    
  <div class="body"><%= Post.auto_res(post.body_html).html_safe %></div>
</article>
<% end %>
<%= will_paginate @posts %>