<header><h1><%= t "topic.new"%></h1></header>
<% if GroupUser.exist(current_user.id,@group.id) %>
  <table><tr><th><%= t 'topic.subject'%></th><th><%= t 'topic.status'%></th></tr>
  <%= form_for(Topic.new) do |f| %>
  <tr>
    <td><div class="field">
      <%= f.text_field :subject %>
    </div></td>
  
    <td><div class="field">
      <%= f.check_box :status %>
    </div></td>
  
    <%= hidden_field_tag 'group_id', @group.id %>
  </tr>
  <tr><td colspan="3">
    <div class="actions">
	  <%= submit_tag t("topic.create") %>
    </div></td></tr>
  <% end %>
  </table>
<% end %>
