<section id="sidebar">

  <section id="search_post">
    <%= render 'search' %>
  </section>
  <hr class="block"/>
    
  <section id="links">
    <%= render 'links' %>
  </section>

  <section id="joined_groups">
    <%= render 'joined_groups' %>
  </section>

</section>


<section id="groups">
  <%= render "list_groups" %>
  <%= will_paginate @groups %>
</section>
<br />
