
<h1>Listing groups</h1>

<section id="groups">
<% @groups.each do |group| %>
  <%
  category = if group.category != nil
	Category.find(group.category_id)
  else
	Category.create(name: "No Category")
  end
  %>
  <div id="group">
    <span><%= link_to group.name, group %> - <%= category.name %></span>
    <div id="group_pic"><%= image_tag group.photo.url(:small) %></div>
  </div>
<% end %>
</section>
<br />
<%= will_paginate @groups %>
<%= link_to 'New Group', new_group_path %>
