<h1><%= @group.name %></h1>

<section id="sidebar">
	
  <section id="group_user_button">
    <%= render 'button' %>
  </section>

  <section id="group_info">
    <%= render 'group_info' %>
  </section>
  
  <section id="group_topics">
    <%= render 'new_topic' %>
    <%= render 'topics' %>
  </section>
  
  <section id="actions">
	<% if @group.owner_id == current_user.id %>
	  <%= link_to 'Edit', edit_group_path(@group) %>
	<% end %>
  </section>
  
</section>

<section id="group_posts">
  <%= render 'group_posts' %>
</section>

