<section id="group_posts" class="tlelm">

  <section id="group_info">
    <%= render 'group_info' %>
  </section>

  <section id="related_groups">
  	<%= render 'related_groups'%>
  </section>

  <section id="group_user_button">
      <%= render 'button' %><br />
  </section><hr><br>

  <section id="topic_info">
    <section>
      <%= render 'new_topic' %>
    </section><br />

    <section id="group_topics">
      <%= render 'topics' %>
    </section>
  </section>
  
  <section id="actions">
	<% if @group.owner_id == current_user.id %>
	  <%= link_to 'Edit', edit_group_path(@group) %>
	<% end %>
  </section>
    
</section>

<section id="posts">

  <% if GroupUser.exist(current_user.id, @group.id) %>
  <section id="new_post_section" class="tlelm">
    <% @post = Post.new %>
    <%= render 'post' %>
	<div class="count_char">500</div>
  </section>
  <% end %>


  <section id="post_list">
    <%= render 'group_posts'%>
  </section>
  
  <%= render 'infbtn' %>
</section>
