<section id="group_posts" >

  <section id="group_info">
    <%= render 'group_info' %>
  </section>

  <section id="group_user_button">
      <%= render 'button' %><br />
  </section><hr><br>

  <section id="topic_info_button">
      <button id="opentopics">Open Topic Info</button><br><br><hr>
  </section>

  <section id="topic_info">
    <section>
      <%= render 'new_topic' %>
    </section><br />

    <section id="group_topics">
      <%= render 'topics' %>
    </section>
  </section>
  
  <section id="actions">
	<% if @group.owner_id == current_user.id %>
	  <%= link_to 'Edit', edit_group_path(@group) %>
	<% end %>
  </section>
    
</section>
<section id="post_list">
  <%= render 'group_posts'%>
</section>
