<section id="sidebar_2">

  <section id="group_info">
    <%= render 'group_info' %>
  </section>

  <section id="group_user_button">
    <%= render 'button' %>
  </section><br />

  <section>
    <%= render 'new_topic' %>
  </section><br />

  <section id="group_topics">
    <%= render 'topics' %>
  </section>
  
  <section id="actions">
	<% if @group.owner_id == current_user.id %>
	  <%= link_to 'Edit', edit_group_path(@group) %>
	<% end %>
  </section>
  
</section>

<section id="group_posts">
  <%= render 'group_posts' %>
  <% if GroupUser.where(group_id: @group.id, user_id: current_user.id).empty?%>
    <%= render 'explain' %>  
  <% end %>
</section>

