<section id="group_user_button">
<%= render 'button' %>
</section>
<section id="group_info">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Category:</b>
    <% category = Category.where(:id => @group.category_id).pop %>
    <%= category.name %>
  </p>

  <p>
    <b>Name:</b>
    <%= @group.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @group.description %>
  </p>

  <p>
    <% topics = GroupTopic.topics(@group.id) %>
    <%= collection_select(:post, :topic, Topic.find(topics), :id, :subject) %>
  </p>
</section>


<section id="group_posts">
  <header><h2>Group Posts</h2></header>
  <% @post = Post.new %>
  <%= render 'post' %>
<% @posts.each do |post| %>
  <% topic = Topic.where(:id => post.topic_id).pop %>
  <% user = User.where(:id => post.user_id).pop %>
  <article>
    <header><h3><%= topic.subject %></h3></header>
    <%= post.body %><br />
    <% if user.id == current_user.id %>
	    <%= link_to 'Edit', edit_post_path(post) %>
	    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
  </article>
<% end %>
  <%= will_paginate @posts %>
</section>

