<br><br>
<header><%= link_to(image_tag("logo.png",width:"200"), :posts) %></header>
<br><br><hr>
<section>
	<article id="about">
		<h1><%= t 'about.title1'%></h1>
		<div>
			<h3><%= t 'about.title2'%></h3>
			<p> <%= t 'about.body1.p1' %></p>
			<p> <%= t 'about.body1.p2' %></p>
			<p> <%= t 'about.body1.p3' %></p>
			<p> <%= t 'about.body1.p4' %></p>
			<p> <%= t 'about.body1.p5' %></p>
		</div>
		<div>
			<h3><%= t 'about.title3'%></h3>
			<ul>
				<li><%= t 'about.body2.p1' %></li>
				<li><%= t 'about.body2.p2' %></li>
				<li><%= t 'about.body2.p3' %></li>
			</ul>
		</div>
		<div>
			<h3><%= t 'about.title4'%></h3>
			<p><%= t 'about.body3.p1' %></p>
			<ul>
				<li><%= t 'about.body3.p2' %></li>
				<li><%= t 'about.body3.p3' %></li>
				<li><%= t 'about.body3.p4' %></li>
				<li><%= t 'about.body3.p5' %></li>
				<li><%= t 'about.body3.p6' %></li>
			</ul>
		</div>
	</article>
</section>
<footer></footer>
