<br><br>
<header><%= link_to(image_tag("logo.png",width:"200"), :posts) %></header>
<br><br><hr>
<section>
	<article id="about">
		<h1><%= t 'basic.title1'%></h1>
		<div>
			<h3><%= t 'basic.title2'%></h3>
			<ul>
			<li> <%= t 'basic.body1.p1' %></li>
			<li> <%= t 'basic.body1.p2' %></li>
			<li> <%= t 'basic.body1.p3' %></li>
			<li> <%= t 'basic.body1.p4' %></li>
			<li> <%= t 'basic.body1.p5' %></li>
			</ul>
		</div>
		<div>
			<h3><%= t 'basic.title3'%></h3>
			<ul>
			<li><%= t 'basic.body2.p1' %></li>
			<li><%= t 'basic.body2.p2' %></li>
			<li><%= t 'basic.body2.p3' %></li>
			<li><%= t 'basic.body2.p4' %></li>
			</ul>
		</div>
		<div>
			<h3><%= t 'basic.title4'%></h3>
			<ul>
			<li><%= t 'basic.body3.p1' %></li>
			<li><%= t 'basic.body3.p2' %></li>
			<li><%= t 'basic.body3.p3' %></li>
			<li><%= t 'basic.body3.p4' %></li>
			<li><%= t 'basic.body3.p5' %></li>
			<li><%= t 'basic.body3.p6' %></li>
			</ul>
		</div>
	</article>
</section>
<footer></footer>
