<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @post.topic_id %>
</p>

<p>
  <strong>Community user:</strong>
  <%= @post.community_user_id %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
