<%= form_for(@post, remote: true) do |f| %>
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
<% if @post.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

	<ul>
		<% @post.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :body %>
	<br />
	<%= f.text_area :body, maxlength: "500" %>
</div>

<div class="field">
	<%= f.label :photo %>
	<%= f.file_field :photo %>
</div>

<div class="field" id="community">
	<%= f.label :community_id %>
	<br />
	<%= collection_select(:post, :community_id, current_user.communities , :id, :name) %>
</div><span> </span></br>

<div class="field" id="topic">
	<%= f.label :topic_id %>
	<br />
	<%= collection_select(:post, :topic_id, Community.find(1).topics , :id, :subject) %>
</div>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
