<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br />
    <% groups = GroupUser.groups(current_user.id) %>
	<%= collection_select(:post, :group_id, Group.find(groups) , :id, :name) %>
  </div>

  <div class="field" id="topic">
    <%= f.label :topic_id %><br />
	<%= collection_select(:post, :topic_id, [], :id, :subject) %>
  </div>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
