<section id="sidebar">

  <section id="joined_groups">
    <%= render 'joined_groups' %>
  </section>
  
  <section id="links">
    <%= render 'links' %>
  </section>

</section>

<section id="posts">
  <% @post = Post.new %>
  <%= render 'form' %>
  <%= render 'list_posts' %>
  <%= will_paginate @posts %>
</section>
