<section id="sidebar">

  <section id="joined_groups">
    <%= render 'joined_groups' %>
  </section>
  
  <section id="links">
    <%= render 'links' %>
  </section>

</section>

<section id="posts">
  <% @post = Post.new %>
  <%= render 'form' %>
  <%= render 'list_posts' %>
</section>
<% if @posts.count == Post.per_page %>
  <%= form_tag posts_path, id:'infloader', method:'get', remote: true do |f|%>
    <%= hidden_field_tag :page, "2",id:"page" %>
    <%= submit_tag "Load Next Posts", :name => nil %>
  <% end %>
<% end %>
