<section id="posts">

	<% if rand(3) == 1 %>
	<section id="tags" class="tlelm">
		<%= render 'top_tags'%>
	</section>
	<% end %>

	<section id="new_post_section" class="tlelm">
		<% @post = Post.new %>
		<%= render 'form' %>
		<div class="count_char">500</div>
	</section>

	<section id="post_list">
		<%= render 'list_posts' %>
	</section>

	<% if GroupUser.groups(current_user.id).count == 1 %>
	<%= render 'explain'%>
	<% end %>

	<%= render 'infbtn' %>

</section>

