<section id="posts">

	<% if rand(3) == 1 and !@tags.blank?%>
	<section id="tags" class="tlelm">
		<%= render 'top_tags'%>
	</section>
	<% end %>
	
	<% if rand(3) == 1 and !@communities.blank? %>
	<section id="recommend_communities" class="tlelm">
		<%= render 'recommend_communities'%>
	</section>
	<% end %>
	

	<section id="new_post_section" class="tlelm">
		<% @post = Post.new %>
		<%= render 'form' %>
		<div class="count_char">500</div>
	</section>

	<section id="post_list">
		<%= render 'list_posts' %>
	</section>
    
	<%= render 'infbtn' %>

</section>

