<section id="sidebar">
  <section id="search_post">
    <%= form_tag posts_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <select id="submit_path">
        <option value="1">Post </option>
        <option value="2">Group</option>
        <option value="3">Topic</option>
      </select>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </section>
  <hr class="block"/>

  <section id="joined_groups">
    <%= render 'joined_groups' %>
  </section><br />
  
  <section id="links">
    <%= render 'links' %>
  </section>

</section>


<section id="posts">
  <section id="new_post_section">
  	<% @post = Post.new %>
    <%= render 'form' %>
  </section>
  <%= render 'list_posts' %>
  <% if GroupUser.groups(current_user.id).count == 1 %>
     <%= render 'explain'%>
  <% end %>
</section>


<% if @posts.count == Post.per_page %>
  <%= form_tag posts_path, id:'infloader', method:'get', remote: true do |f|%>
    <%= hidden_field_tag :page, "2",id:"page" %>
    <%= submit_tag "Load Next Posts", :name => nil %>
  <% end %>
<% end %>
