<section id="search_post">
  <%= render 'layouts/search_post' %>
</section>
  
<hr class="block"/>
  
<section id="links">
  <%= render 'layouts/links' %>
</section><br />
  
<section id="joined_communities">
  <%= render 'layouts/joined_communities'%>
</section>

<section id="helps">
	<%= link_to "About", about_path %> | <%= link_to "Help", basic_path %>
</section>