<!DOCTYPE html>
<html>
<head>
  <title>Karoshi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<section id="navbar">
.
  <section id="search_post">
    <%= form_tag posts_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <select id="submit_path">
        <option value="1">Post </option>
        <option value="2">Group</option>
        <option value="3">Topic</option>
      </select>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </section>

  <section id="login_info" class="navbar-text pull-right">	
  	<%= link_to "Home", :posts %> | 
  	
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </section>
</section>

  <%= yield %>
  
</body>
</html>
