<!DOCTYPE html>
<html>
<head>
  <title>MemeBreeder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no" />
</head>
<body>
<% if user_signed_in? %>
  <nav id="navbar">
    <%= render 'layouts/navbar' %>
  </nav>
  
  <nav id="sidebar">
    <%= render 'layouts/sidebar' %>
  </nav>
<% end %>

<section id="content">
  <%= yield %>
<div id="plugins" class="info-panel" style="display: none;">
<h4>* Hello</h4>
<ul>[<li data-plugin="swf" style="display: none;"><a href="http://get.adobe.com/flashplayer/" rel="external" title=" (external link)">Adobe® Flash Player</a></li>
<li data-plugin="pdf" style="display: none;"><a href="http://get.adobe.com/reader/" rel="external" title=" (external link)">Adobe® Reader®</a></li>
<li data-plugin="doc" style="display: none;"><a href="http://www.microsoft.com/en-us/download/details.aspx?id=4" rel="external" title=" (external link)">MS Word Viewer</a></li>]</ul></div>
</section>
<%= render 'layouts/analytics'%>
</body>
</html>
