<!DOCTYPE html>
<html>
<head>
  <title>DragonFly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no" />
</head>
<body class="<%= @home_page ? 'homepage' : 'nothome'%>">
<% if user_signed_in? %>
  <nav id="navbar">
    <%= render 'layouts/navbar' %>
  </nav>
  
  <nav id="sidebar">
    <%= render 'layouts/sidebar' %>
  </nav>
<% end %>

<section id="content">
  <%= yield %>
</section>
<%= render 'layouts/analytics'%>
</body>
</html>
